.hymn-list-item{
  margin: 0.1rem;
  padding: 0.1rem;
}

.post-subtitle {
  font-size: 16px;
  font-style: italic;
  letter-spacing: .5px;
}

.footnotes {
  font-style: italic;
  font-size: 16px;
}

.footnotes::before {
  content: '';
  display: block;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.footnotes li>p {
  margin-bottom: 0
}