<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ .Site.Params.description }}</p>
    </div>

    <nav class="sidebar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ $isActive := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
            <a class="sidebar-nav-item {{ if $isActive }}active{{ end }}" href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Title }}</span>
            </a>
        {{ end }}
        <a class="sidebar-nav-item" href="{{ .Site.Params.github }}">GitHub project</a>
    </nav>

    <div class="sidebar-item">
        <p>Last updated on {{ now.Format "2 Jan 2006" }}</p>
    </div>
</div>
