.hymn-list-item{
  margin: 0.1rem;
  padding: 0.1rem;
}

/* Adapted from lanyon.css .post-date */
.post-subtitle {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;

  font-size: .8rem;
  font-style: italic;
  letter-spacing: .5px;
}

a.tag {
  display: inline-block;
  padding: 2px 8px;
  margin: 0 2px;
  background: #aaa;
  border-radius: 4px;
  font-size: .75em;
  color: black !important;
}
a.tag:hover {
  text-decoration: none;
  background: #9a9a9a;
}

.footnotes {
  font-style: italic;
  font-size: 16px;
}

.footnotes li>p {
  margin-bottom: 0
}